.App{
 
    margin: 5px 550px;
    
}
.login-form  input {
display: block;
margin-top: 20px;
padding: 5px;
border: 1px solid goldenrod;
border-radius: 5px;
width: 300px;

}
.sign-form{
    margin-top: 20px;
    margin-left: 70px;
   margin-right: 10px;
}

.sign-in{
    background-color: salmon;
}